h1{
    color:black;
    -webkit-animation: fadeinout 10s linear forwards;
    text-align: -webkit-center;
    font-family: fantasy;
    font-size: xxx-large;
    }
    @-webkit-keyframes fadeinout {
        0%,100% { opacity: 0; }
        50% { opacity: 1; }
      }
      
      @keyframes fadeinout {
        0%,100% { opacity: 0; }
        50% { opacity: 1; }
      }

body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#mi_fotito{
    float: left;
    
}

#imagen_fran{
    float: right;
    
}

#mensaje_bonito{
    color: black;
    margin-bottom: 25px;
    font-size: xxx-large;
    font-family: fantasy;
    margin-top: 200px;
}