body{
    background-color: black;
}

h1{
color: white;
-webkit-animation: fadeinout 10s linear forwards;

}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

  #presentacion {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  #boton-continuar {
    background:white;
   color:black;
   z-index: 1;  
    float: right;
    font-size: x-large;
 }
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px;
}

#musica{
    width: 100px;
    height: 50px;
}
#mensaje{
    color:white;
    text-align: -webkit-center;
    font-family: fantasy;
    font-size: xxx-large;
    display: none;
  }
